
@font-face{
    font-family: 'Conthrax';
    src: local('Conthrax'), url(./fonts/conthrax-sb.ttf);
}

/* .show-col{
    border: 1px solid white;
} */

/* main body css in App.js */

.bodyT{
    background-color: #363f4a;
}

.divContain{
    background-color: rgba(0, 0, 0, 0.4);
    width: 90%;
    margin-left: 50%;
    margin-right:50%;
    transform: translate(-50%);
    padding-bottom: 5%;
}

/* navbar css in navbar.js */

.navLink{
    color: white;
    margin-top: 2%;
}
.navLink p{
    color: white;
    font-size:1.2em;
    line-height: 40px;
}

/* footer css in footer.js */
.footerWholeSize{
    margin-top: 3%;
    margin-bottom: 3%;
}

.gitIcon{
    font-size: 4em;
    text-align: center;
}

.gitCol{
    margin-top:5%;
}

.cateList li{
    margin-top: 10px;
}

/* landing page css in main.js */
.logo-col{
    margin-left: 50%;
    margin-right:50%;
    transform: translate(-50%);
    margin-top: 5%;
}

.title-col{
    text-align: center;
    color: white;
    font-size: 5em;
    font-family: Conthrax;
}



/*Category buttons */
.cateBtns{
    margin-top: 20%;
}
.cateBtns p{
    font-size: 2em;
    font-family: Conthrax;
}
.image-style img{
    margin-bottom: 10%;
}

/* 404 catch page in 404.js */
.title-sub{
    font-size:2.5em;
    color: white;
    margin-top: 2%;
}
.sub-sub{
    font-size:1.5em;
    color: white;
    margin-top: 2%;
}
.logo-sub{
    margin-top:1%;
}