
@font-face{
    font-family: 'Conthrax';
    src: local('Conthrax'), url(./fonts/conthrax-sb.ttf);
}

/* main body css in App.js */

.bodyT{
    background-color: #363f4a;
}

/* navbar css in navbar.js */

.navLink{
    color: white;
    margin-top: 2%;
}
.navLink p{
    color: white;
    font-size:1.2em;
}

/* footer css in footer.js */

/* landing page css in main.js */
.logo-col{
    margin-left: 50%;
    margin-right:50%;
    transform: translate(-50%);
    margin-top: 10%;
}

.title-col{
    text-align: center;
    color: white;
    font-size: 5em;
    font-family: Conthrax;
}

/*.show-col{
    border: 1px solid white;
}
*/

/*Category buttons */
.cateBtns{
    margin-top: 15%;
}


.image-style img{
    margin-top: 5%;
    margin-left: 50%;
    margin-right:50%;
    transform: translate(-50%);
    position: relative;
}